@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";
@import "@catppuccin/tailwindcss/mocha.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-base-500: #faf4ed;
  --color-base-600: #fffaf3;
  --color-base-700: #f2e9e1;

  --color-fg-500: #575279;
  --color-fg-400: #797593;
  --color-fg-300: #9893a5;

  --color-primary-500: #ee8695;
  --color-primary-400: #fbbbad;

  --color-secondary-500: #54cea7;
  --color-secondary-400: #00b9be;

  --color-tertiary-400: #e7d99c;
  --color-tertiary-500: #e3ba66;

  --color-icon-html: #e34f26;
  --color-icon-css: #663399;
  --color-icon-js: #f7df1e;
  --color-icon-ts: #3178c6;
  --color-icon-go: #00add8;
  --color-icon-node: #5fa04e;
  --color-icon-vue: #4fc08d;
  --color-icon-nuxt: #00dc82;
  --color-icon-react: #61dafb;
  --color-icon-tailwind: #06b6d4;
  --color-icon-psql: #4169e1;
  --color-icon-sneklang: #3776ab;
  --color-icon-git: #f05032;
  --color-icon-docker: #2496ed;
  --color-icon-neovim: #57a143;
  --color-icon-godot: #478cbf;
  --color-icon-supabase: #3fcf8e;
  --color-icon-fedora: #51a2da;
  --color-icon-linux: #fcc624;
  --color-icon-pinia: #ffd859;
  --color-icon-fastapi: #009688;
  --color-icon-zig: #F7A41D;
  --color-icon-claude: #D97757;
  --color-icon-cloudflare: #F38020;
  --color-icon-hono: #E36002;
  --color-icon-artix: #10A0CC;
  --color-icon-neon: #34D59A;
  --color-icon-ghostty: #3551F3;
  --color-icon-lua: #000080;

  --font-silk-screen: "Silkscreen", monospace;
  --font-pixelify-sans: 'Pixelify Sans', sans-serif;
}

.dark {
  --color-base-500: #232136;
  --color-base-600: #2a273f;
  --color-base-700: #393552;

  --color-primary-500: #f69197;
  --color-primary-400: #ffc4b8;

  --color-fg-500: #e0def4;
  --color-fg-400: #908caa;
  --color-fg-300: #6e6a86;
}

:root {
  --color-background: var(--color-base-500);
  --color-text: var(--color-fg-500);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Silkscreen", monospace;
  font-weight: bold;
}

a,
p,
 {
  font-size: 1.1rem;
}

button {
  font-size: 0.9rem
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Pixelify Sans", sans-serif;
  /* font-family: "Poppins", monospace; */
  font-size: 0.9rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 601px) {
  body {
    font-size: 1.2rem;
  }

  a,
  p,
  button {
    font-size: 1rem;
  }
}
